<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% include shared/styles.html %}

    <!-- build:js({app,.tmp}) /scripts/modernizr.js -->

    <!-- endbuild -->
  </head>

  <body id="{{ page.body_id }}" class="animsition">
  {% include shared/progress.html %}

    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


<div class="container--home">

<nav>
<div class="wrapper-work">
    {% include shared/nav.html %}
</div>
</nav> 




<header>
<div class="wrapper-work">  

              <article id="show-block">
                <h1 class="show-more">I'm Amit, a Digital Creative Director &amp; Designer. I create digital experiences, design interfaces and shape brands.</h1>

                <h2 class="show-more">I specialize in User Experience, Visual Design, and Brand Strategy. <a href="#work--list">See my work.</a></h2>

                <h2 class="show-more">Most recently, I worked on projects for
                    {% for post in site.categories.projects limit: 3 %}
                      <a href="{{ page.url }}" class="recent-project-span" style="color: {{post.accentColor}}">{{ post.title }}</a>
                    {% endfor %}
                 </h2>

                <h2 class="show-more">and sometimes I write. Read my recent articles:
                    {% for post in site.categories.blog limit: 3 %}
                      <a href="{{ page.url }}" class="recent-project-span" style="color: {{post.accentColor}}">{{ post.title }}</a>
                    {% endfor %}
                 </h2>

            <h2 class="show-more-btn">More...</h2>

              </article>
          


          {% if page.projectHero %}
          <picture>
            <img src="/images/{{ page.cid }}/{{ page.projectHero }}">
            </picture>

          

          
      {% endif %}



</div>
</header>

<div id="content">
  {{ content }}
</div>
<footer>
<div class="content--wide">
    {% include shared/footer.html %}
</div>
</footer>
</div>

   
    {% include shared/scripts.html %}
    {% include shared/google-analytics.html %}
  </body>
</html>
