<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {% include shared/styles.html %}
    <!-- build:js({app,.tmp}) /scripts/modernizr.js -->
    <!-- endbuild -->
  </head>
  <body id="{{ page.body_id }}" class="animsition">
    <div>
      {% include shared/progress.html %}
      <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      <nav id="nav" role="banner">
        <div class="content">
          <ul class="primary-nav">
            <li><a class="about" href="/blog">thoughts</a></li>
            <li><a class="about" href="/about">Contact</a></li>
            <li><a class="work" href="/#content--home">work</a></li>
          </ul>
        </div>
      </nav>

      <header>
        <div class="container--home">
          <div class="wrapper--home">
            <a style="color: {{page.accentColor}}" class="logo" href="/">
              {% include shared/logo.html %}
            </a>
          </div>
        </div>

        <div class="container--home">
          <div class="wrapper--home">

               {% if page.projectHero %}
                    <picture>
                      <img src="/images/{{ page.cid }}/{{ page.projectHero }}">
                  </picture>
                {% endif %}



            
              <div style="color: {{page.txtColor}}">
                {% if page.title %}
                  <h2>{{ page.title }}</h2>
                  {% if page.description %}<h4 class="description">{{ page.description }}</h4>{% endif %} 
                {% endif %}
              </div>



          </header>
          <section>
            <div class="container--home">
              <div class="wrapper--home">
                {{ content }}
                {% if page.comments %}
                  <div class="comments content">
                    {% include shared/comments.html %}
                    <div>
                {% endif %}
                  </div>
                </div>
              </section>
              <footer>
                <div class="">
                  {% include shared/footer.html %}
                </div>
              </footer>
            </div>
            <!--[if lte IE 8]>
            {% include shared/scripts-ie8.html %}
            <![endif]-->
            {% include shared/scripts.html %}
            {% include shared/google-analytics.html %}
          </body>
        </html>