<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {% include shared/styles.html %}
    <!-- build:js({app,.tmp}) /scripts/modernizr.js -->
    <!-- endbuild -->
  </head>
  <body id="{{ page.body_id }}" class="animsition">
    <div>
      {% include shared/progress.html %}
      <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->
      {% include shared/progress.html %}
      <div class="animsition">
        <nav>
          <div class="container--project">
            <div class="wrapper--project">
              {% include shared/nav.html %}
            </div>
          </div>
        </nav>
        <!-- HERO -->
        <!-- HERO -->
        <header>
          <div class="container--project">
            <div class="wrapper--project">
              {% include shared/header.html %}
            </div>
          </div>
        </header>
        <div id="content-post" class="container--project animsition">
          <div class="container--home">
            <div class="content--post">
              {{ content }}
            </div>
          </div>
        </div>
        
        <footer>
          <div class="container--project">
            <div class="wrapper--project">
              {% include shared/footer.html %}
            </div>
          </div>
        </footer>
      </div>
      <!--[if lte IE 8]>
      {% include shared/scripts-ie8.html %}
      <![endif]-->
      {% include shared/scripts.html %}
      {% include shared/google-analytics.html %}
    </body>
  </html>