<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {% include shared/styles.html %}
    <!-- build:js({app,.tmp}) /scripts/modernizr.js -->
    <!-- endbuild -->
  </head>
  <body id="project">
    <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    {% include shared/progress.html %}
    <div class="animsition">
      <nav>
        <div class="container--project">
          <div class="wrapper--project">
            {% include shared/nav.html %}
          </div>
        </div>
      </nav>
      <!-- HERO -->
      <header>
        <div class="container--project">
          <div class="wrapper--project">
            {% include shared/header.html %}
          </div>
        </div>
      </header>
      <div id="content-project" class="container--project animsition">
          <picture class="content" data-id="{{ page.cid }}">
      <img class="lazyload" src="/images/{{ page.cid }}/{{ page.homeimage }}">
    </picture>
        {{ content }}
        {% if page.link %}
          <section class="results">
            <button><h5>Visit <a href="{{page.link}}" title="{{page.title}}">{{page.title}}</a></h5></button>
          </section>
        {% endif %}
      </div>
      
      <section id="more-work">
        <div class="wrapper--project">
          {% if page.next %}
            {% assign next = page.next %}
          {% else %}
            {%comment%}
            As the array index start at zero we substract 1 to the total count,
            we then get the last post index in the site.posts array
            {%endcomment%}
            {% assign last lastPostIndex = site.posts | size | minus: 1 %}
            {% assign next = site.posts[lastPostIndex] %}
          {% endif %}
          
          <a href="{{site.baseurl}}{{next.url}}" title="next Post: {{next.title}}">
            <h3 style="color: {{post.accentColor}}">Next Project: {{ next.title }}</h2>
          </a>
          <div class="work--list">
            <h6 class="rule"></h5>
            {% for post in site.categories.projects | join: ","  %}
              <h3 style="color: {{post.backgroundColor}}">
              <a href="{{ post.url }}" class="recent-project-span">{{ post.title | join: "," }}</a>
              </h3>
            {% endfor %}
            
          </div>
        </div>
      </section>
      <footer>
      <div class="container--project">
        <div class="wrapper--project">
          {% include shared/footer.html %}
        </div>
        </div>
      </footer>
    </div>
    <!--[if lte IE 8]>
    {% include shared/scripts-ie8.html %}
    <![endif]-->
    {% include shared/scripts.html %}
    {% include shared/google-analytics.html %}
  </body>
</html>