/* ==========================================================================
   default - helpers and all that
   ========================================================================== */
html, body{
  height:100%;
  margin: 0;
  padding: 0;
}


img[data-sizes="auto"] {
    display: block;
}

.teaser.lazyload {
    opacity: 0;
    transform: scale(0.8);
}

.teaser.lazyloaded {
    opacity: 1;
    transform: scale(1);
    transition: all 700ms;
}


h1{
    @include media($laptop) {
        font-size: $base-font-size * 4;
    }
    @include media($tablet) {
        font-size: $base-font-size * 3.25;
    }
    @include media($mobile) {
        font-size: $base-font-size * 2.3;
    }    
}

h2{
    @include media($laptop) {
        font-size: $base-font-size * 3.358;
    }
    @include media($tablet) {
        font-size: $base-font-size * 3.025;
    }
    @include media($mobile) {
        font-size: $base-font-size * 2;
    }    
}

h3{
    @include media($laptop-large) {
        font-size: $base-font-size * 2.158;
    }
    @include media($tablet) {
        font-size: $base-font-size * 1.825;
    }
    @include media($mobile) {
        font-size: $base-font-size * 1;
    }      
}

h4{
    @include media($laptop-large) {
        font-size: $base-font-size * 1.458;
    }
    @include media($mobile) {
        font-size: $base-font-size * 1.125;
    }
    @include media($mobile) {
        font-size: $base-font-size * .78;
    }    
}
h5{
    @include media($laptop-large) {
        font-size: $base-font-size * 1.1;
    }
    @include media($mobile) {
        font-size: $base-font-size * 1.1;
    }
    @include media($mobile) {
        font-size: $base-font-size * .78;
    }    
}


h6{
    @include media($laptop-large) {
        font-size: $base-font-size * .8;
    }
    @include media($mobile) {
        font-size: $base-font-size * 1.125;
    }
    @include media($mobile) {
        font-size: $base-font-size * .7;
    }    
}

.wrapper{
    position:  relative;
}

.read-more {
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    @include transition(all 0.2s ease-out);
    display: inline-block;
    margin-bottom: 1em;
    border-bottom: 1px solid currentColor;

    &:hover {
            margin-bottom: 1em;
            border-bottom: 1px solid none;
    }
}


header {
width: 100%;
    position: relative;
    overflow: hidden;
    padding: 12% 0 6% 0;
    justify-content: center;
    @include row;

    @include media($mobile) {
        @include fill-parent;
    }


    article {
        padding-top: 6%;
        @include span-columns(5);
        @include shift(1);

        @include media($mobile) {
            @include fill-parent;
            @include row;
            @include shift(0);
            padding: 6%;
        }
    }

    picture{
    @include span-columns(8);
    @include shift(2);

        img{
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: auto;
            z-index: 11;
        }
    }
    h1{
        margin-bottom: 0.5em;
    }
    h4, h5{
        font-weight: normal;
    }    
}


#more-work
{
    @include row();
    } a{
        @include media($mobile){
    }
}



#clients{
    h6:after{
        display: none;
    }
}


.block-list {
    list-style-type: square;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
 

.outer-container {
    @include outer-container;
    padding: 0 3%;
}
.content {
    @include outer-container;
}

.highlight{
    padding: 1em;
    background-color: $light-gray;
    margin: 1em 0 2em 0;
}

.content--copy{
    @extend .content;
    padding-top: 3%;
    
    h2, h4, p, h5, h6 {
        
        @include span-columns(8);
        @include shift(2);

        @include media($mobile) {
            @include fill-parent;
            @include row;
            @include shift(0);
        }
    }
}


section {
	@include row();
}



br {
    @include media($mobile) {
        display: none;
    }
}

.excerpt{
    line-height: 1.35;
}



p + h5{
    padding-top: 2em;
}
.highlight + h5{
    padding-top: 2em; 
}

#post{
    h1{
        padding-bottom: 0;
    }
}

#blog-list{
    background-color: $dark-gray;
    @include row();
    padding: 6%;

    aside{
        height: 100%;
        @include span-columns(3);
        color: #8b8f92;
    }
  
    h4{
        margin-bottom: .5em;
        padding: 0;
    }
    article {
        color: white;
        border-bottom: 2px solid $light-gray;
        padding: 6% 0;
    }

    .right-column{
        @include span-columns(5);
        @include shift(2);
    }


.right-column, article, aside{

    @include media($mobile) {
        text-align: left;
        @include fill-parent();
        @include shift(0);
    }
}

}

#more-work{
    @include row();
    h6{
        padding: 0;
        margin-bottom: .5em;
        font-weight: normal;
    }
}

#blog {
    .content{
        padding-bottom: 6%;
    }

    header{
        padding: 6% 0;
    }
    h2{
        margin-bottom: .5em;
    }
}
#post{
h1{
    text-align: left;
}

nav, .content, footer{
    padding: 3%;
    @include span-columns(7);
    @include shift(2);
    border-bottom: none;

        @include media($laptop) {
        @include fill-parent;
            @include shift(0);
    }
}
ul{
    float: left;
}
    header{
        background-color: none;
        padding: 12% 0 0 0;
    }
    footer{
        padding: 3%;
    }
}

