/* ==========================================================================
   default - helpers and all that
   ========================================================================== */
html, body{
  height:100%;
  margin: 0;
  padding: 0;
}


img[data-sizes="auto"] {
    display: block;
}


.lazyload,
.lazyloading {
    opacity: 0;
    top: -10px;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
    top: 0;
}
.center{
        display: table;
    width: 100%;
}

.v-align-container{
    display: table-cell;
    vertical-align: middle;
}

.v-align-item{
    display: inline-block;
    vertical-align: middle; /* Removes the extra white space below the baseline */
}


h1{
      @include media($laptop) {
       $modular-scale-base: 1.15em;
    }
  
}

.rule{
    border-bottom: 4px solid $light-gray;
    padding: 1% 0;
}

.wrapper{
    @include outer-container;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;

    @include media($laptop) {
        @include shift(2);
        @include span-columns(4);
    }
}


.read-more {
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    @include transition(all 0.2s ease-out);
    display: inline-block;
    margin-bottom: 1em;
    padding-top: 0;
    margin-top: 0;
    border-bottom: 1px solid currentColor;

    &:hover {
            margin-bottom: 1em;
            border-bottom: 1px solid none;
    }
}


header {
width: 100%;
    position: relative;
    overflow: hidden;
    padding: 15% 0 3% 0;
    justify-content: center;
    @include row;

    @include media($mobile) {
        @include fill-parent;
    }


    article {
        @include span-columns(7);
        @include media($mobile) {
            @include fill-parent;
            @include row;
            @include shift(0);
            padding: 6%;
        }
    }

    picture{
    @include span-columns(8);
    @include shift(2);

        img{
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: auto;
            z-index: 11;
        }
    }
    h1{
        margin-bottom: 0.5em;
    }
    h4, h5{
        font-weight: normal;
    }    
}




#clients{
    h6:after{
        display: none;
    }
}


.block-list {
    list-style-type: square;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
 

.outer-container {
    @include outer-container;
    padding: 0 1%;
}
.content {
    @include outer-container;
    clear: both;
}

.highlight{
    padding: 1em;
    background-color: $light-gray;
    margin: 1em 0 2em 0;
}

.content--copy{
        @include span-columns(6);
        @include shift(2);
    padding-top: 3%;
    
    h2, h4, p, h5, h6 {
        

        @include media($mobile) {
            @include fill-parent;
            @include row;
            @include shift(0);
        }
    }
}


.overview ul{
    float: left;
    list-style: decimal;
}
section {
	@include row();
}



br {
    @include media($mobile) {
        display: none;
    }
}

.excerpt{
    line-height: 1.35;
}



p + h5{
    padding-top: 2em;
}
.highlight + h5{
    padding-top: 2em; 
}

#post{
    h1{
        padding-bottom: 0;
    }
}

#blog--list{
    display: none;
    background-color: $dark-gray;
    @include row();
    padding: 3%;

    aside{
        height: 100%;
        @include span-columns(3);
        color: #8b8f92;
    }
  
    h4{
        margin-bottom: .5em;
        padding: 0;
    }
    article {
        color: white;
        border-bottom: 2px solid $light-gray;
        padding: 6% 0;
    }

    .right-column{
        @include span-columns(5);
    }


.right-column, article, aside{

    @include media($mobile) {
        text-align: left;
        @include fill-parent();
        @include shift(0);
    }
}

}

#blog {



    header{
        padding: 6% 0;
    }
    h2{
        margin-bottom: 0em;
    }
}
#post{

    nav{
        position: absolute;
    }

    article{
        padding: 12% 0;
        border-bottom: 1px solid $light-gray;
    &:last-child{
        border-bottom: none;
    }
    }

    .content{
    @include span-columns(8);
    @include shift(2);
    padding: 1% 8%;
    border-bottom: none;

        @include media($laptop) {
        @include fill-parent;
            @include shift(0);
    }
    }

    p{
        font-family: $serif;
        font-size: 1.2em;
    }

nav ul{
    float: right;
}

    header{
        background-color: none;
        padding: 15% 0 0 0;
    }
    footer{
        padding: 3%;
    }
}



// responsive stuff

#home header{
    article{
        @include media($mobile) {
        @include fill-parent();
        }
    }
}





