/* ==========================================================================
   HOME
   ========================================================================== */

#home {
    header {
        padding: 3% 0 4% 0;

        .recent-project-span:first-of-type:after {
            content: ",";
            color: #555;
            border-bottom: none;
        }

        .recent-project-span:last-of-type:before {
            content: "and ";
            background-image: none;
            color: #555;
            border-bottom: 0;
        }

        article {
            padding: 3% 0;

            @include span-columns(7);
        }
    }

    .show-more-btn {
        border-bottom: 4px solid currentColor;
        padding-bottom: .15em;
        display: inline-block;
        cursor: pointer;

        &:hover {
            color: $reddish;
        }
    }
}

.underline {
    background-image: linear-gradient(to right, currentColor 0%, currentColor 90%);
    background-repeat: repeat-x;
    background-position: 0px 89%;
    -webkit-background-size: 100% 3px;
    background-size: 100% 3px;
    text-shadow: 3px 0 0 white, -3px 0 0 white;
}

.animated {
    -webkit-animation: filter-animation 5s once;
}

@-webkit-keyframes filter-animation {
    0% {
        -webkit-filter: sepia(0) saturate(2);
    }

    50% {
        -webkit-filter: grayscale(1);
    }

    100% {
        -webkit-filter: sepia(0) saturate(2);
    }
}

.wrapper{
    @include outer-container;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;

    @include media($laptop) {
        @include shift(2);
        @include span-columns(4);
    }
}

.container {
    padding: 0 3%;
}

.container--project {
    @include outer-container;
    @extend .container;
}

.container--home {
    @include outer-container;
    @extend .container;
}


.wrapper--project{
    @extend .wrapper;
}

.wrapper--home {
    @extend .wrapper;
}




.show-more {
    @include transition(all 0.5s ease-out);

    padding-top: 20px;
}

.fade-in-up {
    opacity: 1;
    padding-top: 0px;
    display: block;
}

.work--list {
    overflow: hidden;
    counter-reset: project;

    //main section container
    section {
        @include fill-parent;

        margin: 0;
        display: block;
        position: relative;
        float: left;
        cursor: default;
        background-color: #fff;
        border-top: 1px solid #eee;
        -webkit-transition: opacity 0.8125s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 4s cubic-bezier(0.39, 0.575, 0.565, 1);
        transition: opacity 0.8125s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 4s cubic-bezier(0.39, 0.575, 0.565, 1);

        article {
            padding: 18% 0%;
        }

        h3 {
            margin-bottom: .5em;
        }

        h6 {
            padding: 0;
            margin: .5em 0;
        }



        &:nth-child(odd) {
            background: #eee;
        }

        .added-info {
            height: 100%;
            width: 100%;
            bottom: 0;
            position: absolute;
            opacity: 0;
            left: 0;
            right: 0;
            display: none;

            @include transition(all 0.5s ease-out);

            .added-info-wrapper {
                height: 100%;
                width: 100%;
                bottom: 0;
                left: 0;
                height: 0%;
                right: 0;
            }
        }

        &:hover {
            background-color: currentColor;
            -webkit-transition: opacity 0.8125s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 0.35s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
            transition: opacity 0.8125s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 0.35s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;

            h3, h6 {
                color: #fff;

                @include transition(all 0.25s ease-in 0.35s);
            }

            h5 {
                filter: invert(100%);

                @include transition(all 0.25s ease-in 0.35s);
            }

            picture {
                transform: scale(1.35);
                opacity: 1;
                filter: saturate(1);
                -webkit-transition: opacity 0.8125s cubic-bezier(0.39, 0.575, 0.565, 1), -webkit-transform 4s cubic-bezier(0.39, 0.575, 0.565, 1);
                transition: opacity 0.8125s cubic-bezier(0.39, 0.575, 0.565, 1), transform 4s cubic-bezier(0.39, 0.575, 0.565, 1);
            }
        }


        @include transition(all 0.25s ease-out);

        @include media($tablet) {
            @include fill-parent;

            padding: 1% 4%;
        }




        .img-wrapper {
            @include span-columns(6);

           // border: 1px solid orange;
            position: absolute;
            right: 0;
            height: 100%;
            z-index: 10;
            top: 0;

            @include media($mobile) {
                @include fill-parent;

                left: 0;
                position: relative;

                @include transform(none);
            }
        }

        picture {
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            transform: scale(1.1);
            opacity: .75;
            filter: saturate(0.7);

            @include transition(all 0.3s);

            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        img {
            position: absolute;
            max-width: 100%;
            width: 100%;
            height: auto;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            z-index: 11;

            @include media($mobile) {
                @include fill-parent;

                position: relative;

                @include transform(none);
            }
        }

        // full span image container image //
        //  &:nth-child(3n-8) {
        //  @include fill-parent;
        //

        // picture {
        //@include span-columns(6);
        //position: absolute;
        //height: 100%;
        //right: 25%;
        //top: 0;

        //@include media($laptop) {
        //   right: -25%;
        //   float: left;
        //   display: block;
        //}

        //@include media($mobile) {
        //  @include fill-parent;
        //  position: relative;

        // }

        //@include media($laptop) {
        //   right: -25%;
        //   float: left;
        //   display: block;
        //}

        //@include media($mobile) {
        //  @include fill-parent;
        //  position: relative;

        // }

        // }
        // }

        // end full span container image //
        h1 {
            margin-bottom: .5em;
        }

        h5 {
            color: $base-font-color;
            line-height: 1.35;
            font-weight: normal;
        }

        article {
            @include span-columns(5);

            @include media($mobile) {
                @include fill-parent;
            }
        }
    }
}

section {
    @include media($laptop) {
        @include fill-parent;

        right: 0%;
    }


    picture {
        @include media($tablet) {
            @include span-columns(6);

            right: -25%;
        }


        @include media($laptop) {
            right: -25%;
            float: left;
            display: block;
        }


        @include media($mobile) {
            right: -25%;
            float: left;
            display: block;
        }
    }
}

.arrow-button {
    padding-left: .5em;
}

.hero-image {
    position: absolute;
    width: auto;
    float: left;
    display: block;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 3;

    @include media($tablet) {
        @include row;

        position: relative;
        display: block;

        @include fill-parent;

        right: auto;

        @include transform(none);
    }
}