.button {
	font-family: "Sneak Medium", "Helvetica", "Arial", sans-serif;
	color: $color-gray;
	line-height: 30px;
	border: 1px solid $color-black;
	border-radius: 82px;
	padding: 16px 24px;
	transition: all $default-transition;
	cursor: pointer;

	&:active{
		background-color: $color-black;
		border-color: $color-black;
	}
	&:hover {
		background-color: $color-black;
		border-color: $color-black;
		color: $color-white;
	}
	&:active{
		box-shadow: $shadow-outline;
	}
	&--invert {
		border-color:$color-white;
		color: $color-white;
		&:hover {
			background-color: $color-white;
			color: $color-black;
			border-color:$color-white;
		}
	}
}
.txt-link{
	font-family: "Sneak Medium", "Helvetica", "Arial", sans-serif;
	border-bottom: 1px solid #eee;
	transition: border .3s ease-out;
	&:hover {
		color: black;
		border-bottom: 1px solid #000;
		text-decoration: none;
	}
}