*, *::before, *::after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: $grid-width;
	margin: 0 auto;
	@include screen-xl-max {
		max-width: none;
		padding-left: 80px;
		padding-right: 80px;
	}
	
	@include screen-lg-max {
		padding-left: 32px;
		padding-right: 32px;
		max-width: 1216px;
	}

	@include screen-md-max {
		padding-left: 24px;
		padding-right: 24px;
		max-width: 768px;
	}

	&-full-width-mobile {
		@include screen-md-max {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&-fluid {
		overflow: hidden;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}

.row {
	@include grid-row;
	&.align-items-center {
		align-items: center;
	}
	&-relative {
		position: relative;
	}

	@for $i from 1 through $grid-columns {
		.col-#{$i} {
			@include grid-column($i);
		}

		.push-#{$i} {
			@include grid-push($i);
		}
	}

	@include grid-media($neat-grid-xl) {
		@include grid-row;

		@for $i from 1 through $grid-columns {
			.col-xl-#{$i} {
				@include grid-column($i);
			}

			.col-#{$i} {
				@include grid-column($i);
			}

			.push-xl-#{$i} {
				@include grid-push($i);
			}
		}

		.push-xl-hide {
			@include grid-push(0);
		}
	}

	@include grid-media($neat-grid-lg) {
		@include grid-row;

		@for $i from 1 through $grid-columns {
			.col-lg-#{$i} {
				@include grid-column($i);
			}

			.col-xl-#{$i}, .col-#{$i} {
				@include grid-column($i);
			}

			.push-lg-#{$i} {
				@include grid-push($i);
			}
		}

		.push-lg-hide {
			@include grid-push(0);
		}
	}

	@include grid-media($neat-grid-md) {
		@include grid-row;

		@for $i from 1 through $grid-columns {
			.col-md-#{$i} {
				@include grid-column($i);
			}

			.col-lg-#{$i}, .col-xl-#{$i}, .col-#{$i} {
				@include grid-column($i);
			}

			.push-md-#{$i} {
				@include grid-push($i);
			}
		}

		.push-md-hide {
			@include grid-push(0);
		}
	}

	@include grid-media($neat-grid-sm) {
		@include grid-row;

		@for $i from 1 through $grid-columns {
			.col-sm-#{$i} {
				@include grid-column($i);
			}

			.col-md-#{$i}, .col-lg-#{$i}, .col-xl-#{$i}, .col-#{$i} {
				@include grid-column($i);
			}

			.push-sm-#{$i} {
				@include grid-push($i);
			}
		}

		.push-sm-hide {
			@include grid-push(0);
		}
	}

	@include grid-media($neat-grid-xs) {
		@include grid-row;

		@for $i from 1 through $grid-columns {
			.col-xs-#{$i} {
				@include grid-column($i);
			}

			.col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}, .col-xl-#{$i}, .col-#{$i} {
				@include grid-column($i);
			}

			.push-xs-#{$i} {
				@include grid-push($i);
			}
		}

		.push-xs-hide {
			@include grid-push(0);
		}
	}
}

body {
	background-color: $color-white;
	transition: all $default-transition;

	&.black {
		color: $color-white !important;
		background-color: $color-black;
		a {
			color: $color-white !important;
		}
		.header-flex-close {
			&:before,
			&:after {
				background: white;
			}
		}
	}
}

.animated-layout {
	transition: all $default-transition;
	max-height: 20000px;
	overflow: hidden;
	&.animated {
		// opacity: 0;
		max-height: 0;
		// visibility: hidden;
	}
}