 
@font-face {
	font-family: 'Sneak';
	src: url('../fonts/Sneak-Regular.eot');
	src: url('../fonts/Sneak-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sneak-Regular.woff2') format('woff2'),
	url('../fonts/Sneak-Regular.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Sneak Light';
	src: url('../fonts/Sneak-Light.eot');
	src: url('../fonts/Sneak-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sneak-Light.woff2') format('woff2'),
	url('../fonts/Sneak-Light.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sneak Medium';
	src: url('../fonts/Sneak-Medium.eot');
	src: url('../fonts/Sneak-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sneak-Medium.woff2') format('woff2'),
	url('../fonts/Sneak-Medium.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

$font-heading-regular: "Sneak", "Helvetica", "Arial", sans-serif;
$font-heading-light: "Sneak Light", "Helvetica", "Arial", sans-serif;
$font-heading-medium: "Sneak Medium", "Helvetica", "Arial", sans-serif;

$font-base: 'Sneak', "Times New Roman", Times, serif;

$font-size-base: 21px;
$line-height-base: 150%;

html, body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-gray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	transition: all $default-transition;
}

p {
	a {
		color: $color-gray;
		&:hover {
			text-decoration: underline;
		}
	}
}

h1 {
	font-size: 72px;
	line-height: 110%;
	letter-spacing: -1.74845px;
	font-family: $font-heading-light;
	font-weight: normal;
	span {
		font-family: $font-heading-medium;
	}
	@include screen-xl-max {
		font-size: 56px;
	}
	@include screen-lg-max {
		font-size: 44px;
		letter-spacing: -1px;
	}	
}

h2 {
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	font-family: $font-heading-regular;
}

h3 {
	font-size: 32px;
	line-height: 36px;
	font-family: $font-heading-regular;
}

h4 {
	font-size: 21px;
	line-height: 30px;
	span {
		font-family: $font-heading-light;
	}
}

h5 {
	font-size: 18px;
	line-height: 21px;
	font-family: $font-heading-light;
}

strong {
	font-weight: bold;
}