 
@font-face {
	font-family: 'Sneak';
	src: url('../fonts/Sneak-Regular.eot');
	src: url('../fonts/Sneak-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sneak-Regular.woff2') format('woff2'),
	url('../fonts/Sneak-Regular.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Sneak Light';
	src: url('../fonts/Sneak-Light.eot');
	src: url('../fonts/Sneak-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sneak-Light.woff2') format('woff2'),
	url('../fonts/Sneak-Light.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sneak Medium';
	src: url('../fonts/Sneak-Medium.eot');
	src: url('../fonts/Sneak-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sneak-Medium.woff2') format('woff2'),
	url('../fonts/Sneak-Medium.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');


$font-heading-regular: "Sneak", "Helvetica", "Arial", sans-serif;
$font-heading-light: "Sneak Light", "Helvetica", "Arial", sans-serif;
$font-heading-medium: "Sneak Medium", "Helvetica", "Arial", sans-serif;

$font-base: 'Sneak', "Times New Roman", Times, serif;

$font-size-base: 18px;
$line-height-base: 150%;

html, body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-black;
	font-feature-settings: "kern";
  	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: $color-black;
	transition: all $default-transition;
}

p {
	--minFontSize: 18px;
	--maxFontSize: 24px;
	--scaler: 1vw;
	line-height: 150%;
	font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
	a {
		color: $color-gray;
		&:hover {
			text-decoration: underline;
		}
	}
}

h1 {
	--minFontSize: 32px;
	--maxFontSize: 86px;
	--scaler: 4.25vw;
	font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
	line-height: 102.5%;
	letter-spacing: -3.12px;
	font-family: $font-heading-regular;
	font-weight: normal;
	font-family: $font-heading-light;
	@include screen-md-max {
		letter-spacing: -0.5px;
	}
	span {
		font-family: $font-heading-medium;
	}

}



h2 {
	--minFontSize: 24px;
	--maxFontSize: 40px;
	--scaler: 5vw;
	font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
	line-height: 125%;
	margin-bottom: 32px;
	letter-spacing: -0.5px;
	font-weight: normal;
	font-family: $font-heading-medium;
	@include screen-xs-max {
		letter-spacing: -0.15px;
	}
}

h3 {
	font-size: 21px;
	line-height: 36px;
	font-family: $font-heading-regular;
	@include screen-xs-max {
		font-size: 28px;
		line-height: 125%;
		letter-spacing: -0.15px;
	}
}

h4 {
	--minFontSize: 18px;
	--maxFontSize: 24px;
	--scaler: 1vw;
	font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
	letter-spacing: -0.124px;
	font-family: $font-heading-regular;
	--minPadSize: 9px;
	--maxPadSize: 12px;
	--scaler: 1vw;
	margin-bottom: clamp( var(--minPadSize), var(--scaler), var(--maxPadSize) );
	
	span {
		font-family: $font-heading-medium;
	}
}

h5 {
	font-size: 18px;
	line-height: 21px;
	font-family: $font-heading-light;
}

strong {
	font-weight: bold;
}