 
@font-face {
	font-family: 'Sneak';
	src: url('../fonts/Sneak-Regular.eot');
	src: url('../fonts/Sneak-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sneak-Regular.woff2') format('woff2'),
	url('../fonts/Sneak-Regular.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Sneak Light';
	src: url('../fonts/Sneak-Light.eot');
	src: url('../fonts/Sneak-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sneak-Light.woff2') format('woff2'),
	url('../fonts/Sneak-Light.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Sneak Medium';
	src: url('../fonts/Sneak-Medium.eot');
	src: url('../fonts/Sneak-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Sneak-Medium.woff2') format('woff2'),
	url('../fonts/Sneak-Medium.woff') format('woff'),;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');


$font-heading-regular: "Sneak", "Helvetica", "Arial", sans-serif;
$font-heading-light: "Sneak Light", "Helvetica", "Arial", sans-serif;
$font-heading-medium: "Sneak Medium", "Helvetica", "Arial", sans-serif;

$font-base: 'Sneak', "Times New Roman", Times, serif;

$font-size-base: 20px;
$line-height-base: 150%;

html, body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-black;
	font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: $color-black;
	transition: all $default-transition;
}

p {
	a {
		color: $color-gray;
		&:hover {
			text-decoration: underline;
		}
	}
}



h1 {
	font-size: 86px;
	//border: 1px solid black;
	line-height: 1.05;
	letter-spacing: -3.12px;
	font-family: $font-heading-regular;
	font-weight: normal;
	span {
		font-family: $font-heading-medium;
	}
	@include screen-xxl-max {
		font-size: 86px;
		//border: 1px solid yellow;
	}
	@include screen-xl-max {
		font-size: 64px;
		//border: 1px solid green;
	}	
	@include screen-lg-max {
		//border: 1px solid red;
		font-size: 44px;
		letter-spacing: -1px;
	}
	@include screen-sm-max {
		//border: 1px solid red;
		font-size: 36px;
		line-height: 125%;
		letter-spacing: -1px;
	}
}



h2 {
	font-size: 40px;
	line-height: 125%;
	font-weight: normal;
	font-family: $font-heading-regular;
}

h3 {
	font-size: 32px;
	line-height: 36px;
	font-family: $font-heading-regular;
}

h4 {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: -0.124px;
	font-family: $font-heading-regular;
	span {
		font-family: $font-heading-regular;
	}
}

h5 {
	font-size: 18px;
	line-height: 21px;
	font-family: $font-heading-light;
}

strong {
	font-weight: bold;
}