.clientExperience {
	margin-top: 150px;
	margin-bottom: 150px;
	@include screen-lg-max {
		margin-bottom: 150px;
	}
	h2 {
		margin-bottom: 64px;
	}
	&-list{
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		&-item {
			flex: 0 1 23%;
			margin-bottom: 12px;
			margin-bottom: 64px;
			@include screen-lg-max {

			}
			@include screen-md-max {
				flex: 0 1 100%;
			}
			&-title {
				font-family: $font-heading-medium;
			}
		}
	}
	
}