/* Webfont: FoundersGrotesk-Bold */@font-face {
    font-family: 'FoundersGroteskBold';
    src: url('../fonts/FoundersGrotesk-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FoundersGrotesk-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FoundersGrotesk-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FoundersGrotesk-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FoundersGrotesk-Bold.svg#FoundersGrotesk-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: FoundersGrotesk-Regular */@font-face {
    font-family: 'FoundersGroteskRegular';
    src: url('../fonts/FoundersGrotesk-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FoundersGrotesk-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/FoundersGrotesk-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FoundersGrotesk-Regular.svg#FoundersGrotesk-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}




// Typography
$sans-serif: 'Neue Haas Unica W01'; //regular body
$heading-font-family: 'FoundersGroteskBold';
//$heading-font-family: 'Neue Haas Grotesk W01 Disp'; // 01 thicker
$serif: sans-serif;
$base-font-family: $serif;
$geometric-sans: 'Geogrotesque W01';
$heading-font-weight: 700;
$body-font-weight: 500;



// Sizes
$base-font-size: 1.115em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$heading-line-height: $base-font-size * 1;
$base-border-radius: em(2);

// Colors
$blue: #477DCA;
$dark-gray: rgba(0,39,59,.9);
$medium-gray: rgb(132, 132, 132);
$light-gray: rgba(0,39,59,.2);
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$dark-gray: rgb(34, 34, 34);
$reddish: rgb(232, 46, 22);
$light-gray: rgba(0,39,59,.1);


$border-color: $light-gray;


// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: rgba(36, 37, 37, 0.95);
$base-accent-color: #000;

// Link Colors
$base-link-color: $reddish;
$hover-link-color: darken($base-link-color, 25);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;


// fixes
$small-spacing: .5em;
$action-color: $base-link-color;
$base-border: $base-font-color;
$base-spacing: 1em;
