.home-hero {
	height:90vh;
	margin-top: -72px;
	align-items: center;
	display: flex;
	opacity: 0;
	transform: translateY(72px);
	transition: opacity $default-transition, transform $default-transition;
	&-visible {
		transform: none;
		opacity: 1;
	}
	
	h1 {
		font-size: 96px;
		position: relative;
		font-family: $font-heading-light;
		@include screen-xxl-max {
			font-size: 96px;
		}
		@include screen-xl-max {
			font-size: 80px;
		}	
		@include screen-lg-max {
			font-size: 64px;
			letter-spacing: -1px;
		}
		@include screen-md-max {
			//border: 1px solid red;
			font-size: 48px;
			letter-spacing: -1px;
		}
		@include screen-sm-max {
			//border: 1px solid red;
			font-size: 40px;
			line-height: 125%;
			letter-spacing: -1px;
		}
		@include screen-xs-max {
			font-size: 36px;
			line-height: 125%;
			letter-spacing: -1px;
		}
	}
}