.home-hero {
	height:90vh;
	margin-top: -72px;
	align-items: center;
	display: flex;
	opacity: 0;
	transform: translateY(72px);
	transition: opacity $default-transition, transform $default-transition;
	&-visible {
		transform: none;
		opacity: 1;
	}
}