
    
{% include shared/nav.html %}

<div class="outer-container" style="color: {{page.txtColor}}">    
    {% if page.description %}
    <article> 
            <h1 style="color: {{page.txtColor}}">{{page.description}}</h1>
        {% endif %}
        {% if page.overview %}
            <h5 style="color: {{page.txtColor}}">>{{page.overview}}</h5>
    </article>
    {% endif %}
    {% if page.projectHero %}
        <picture>
            {% if page.projectHero %}
                <img src="/images/{{ page.cid }}/{{ page.projectHero }}">
                {% elsif page.homeimage %}
                <img src="/images/{{ page.cid }}/{{ page.homeimage }}">
            {% endif %}
        </picture>
    {% endif %}
</div>