<section id="more-work">
    {% if site.categories.projects.next %}
        {% assign next = site.categories.projects.next %}
    {% else %}
        {%comment%}
           As the array index start at zero we substract 1 to the total count,
           we then get the last post index in the site.posts array
        {%endcomment%}
        {% assign last lastPostIndex = site.categories.projects | size | minus: 1 %}
        {% assign next = site.categories.projects[lastPostIndex] %}
    {% endif %}
    

  <h3> View Next Project</h3>  
    <a href="{{site.baseurl}}{{next.url}}" title="next Post: {{next.title}}">
        <div class="content--wide">
            
            <h2 style="{{page.accentColor}}">{{ next.title}}</h2>
            <span class="arrow-button">&#10141;</span>
        </div>
    </a>


    <h3> Take a look at others </h3>
                        {% for post in site.categories.projects %}
                      <a href="{{ page.url }}" class="recent-project-span" style="color: {{post.accentColor}}">{{ post.title }}</a>
                    {% endfor %}
</section>