<script type="text/javascript" src="http://fast.fonts.net/jsapi/f1b0cbef-a3eb-440c-8738-2098c1b6263d.js"></script>
<!-- build:js /scripts/application.js -->
<script src="/vendor/modernizr/modernizr.js"></script>
<script src="/vendor/jquery/dist/jquery.js"></script>
<script src="/scripts/jquery.animsition.js"></script>
<script src="/scripts/jquery.lettering.js"></script>
<script src="/vendor/retina.js/dist/retina.min.js"></script>
<script src="/vendor/lazysizes/lazysizes.min.js"></script>
<script src="/vendor/jQuery.equalHeights/jquery.equalheights.min.js"></script>
<script src="/scripts/application.js"></script>
<!-- endbuild -->