<section id="work-grid">
	<h4> {{ include.headline }} </h4>
<div class="outer-container">
<ul>

{% for post in site.posts limit:{{include.postLimit}} offset:1 reversed %}
{% if post.featured == {{include.isFeatured}} %}

<li style="background-color:{{ post.backgroundColor }};" class="{{ post.cid }} glow">
	<a href="{{ post.url }}">
		<div class="square-content">
			<div>
				<span>
					<picture class="more-work-img clearfix">
						<img src="/images/{{ post.cid }}/{{ post.homeimage }}"/>
					</picture>
					<h4 style="color:{{ post.accentColor }}"> {{ post.title}}  </h4>
				</span>
			</div>
		</div>
	</a>
</li>
{% endif %}
{% endfor %}
</ul>
</div>
</section>
