---
layout: home
title: "I'm Amit, a Digital Creative Director & Designer. I create digital experiences, design interfaces and shape brands."
body_id: home
client: "Mr. Amit Patel"
description: 
---

<h6 class="underline-alt"> Recent Work </h6>
<div id="work--list" class="">
    {% for post in site.categories.projects %}
            <section class="{{ post.id }} panel--home" data-id="{{ post.cid }}" style="background-color: {{ post.backgroundColor }}";>
                <div class="wrapper-work">
                <a class="animsition-link" href="{{ post.url }}">

                    
                    <article class="info" style="color: {{post.accentColor}}">
                        <!--<h6><span>{{ post.role }}</h6>-->
                        <h2 style="color: {{post.accentColor}}";>{{ post.title }}</h2>
                        <h5>{{post.description }}</h5>
                   </article>


                    <div class="added-info">
                        <div class="added-info-wrapper">
                        <span class="arrow-btn">
                        </span>
                            
                            <picture data-id="{{ post.cid }}">
                                <img class="lazyload" src="/images/{{ post.cid }}/{{ post.homeimage }}">
                            </picture>
                        </div>
                    </div>

                </a>
                </div>
            </section>
    {% endfor %}
</div>
<div id="blog--list">
    <section class="content--wide">
        <aside>
            <h5>Sometimes I write about design, technology and other random things.</h5>
        </aside>
        <div class="right-column">
            {% for post in site.categories.blog] %}
                <article>
                    <a class="animsition-link" href="{{ post.url }}">
                        <!--<h6>{{ page.client }}</h6>-->
                        <h4 style="color:{{ post.accentColor }}">{{ post.title }}</h4>
                        <div class="excerpt" style="color:{{ post.txtColor }};">{{ post.excerpt }}</div>
                        <h6 class="read-more" style="color: {{post.accentColor}}";>Read More</h6>
                        
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
</div>