.footer {
	margin-top: 256px;
	margin-bottom: 64px;
	&-copy {
		margin-bottom: 35px;
	}
	.button {
		margin-right: 10px;
	}
	.scrollUp{
		padding: 13px 22px;
	}
	&-copyright {
		font-size: 24px;
		margin-top: 77px;
		padding-bottom: 50px;
	}
	.peace{
		padding: 0px 22px;
		font-size: 24px;
		color: $color-black;
		float: left;
		line-height: 30px;
	}
	.sub-foot{
		color: $color-light-gray;
		padding-top: 96px;
		font-size: 16px;
	}
	
	.nav, .connect{
		.txt-link {
			color: $color-black;
			line-height: 30px;
			margin: 16px 16px;
			transition: all $default-transition;
			cursor: pointer;
		}
		@include screen-lg-max {

		}
		@include screen-sm-max {
			padding-bottom: 48px;
			text-align: left;
		}
	}
}