.footer {
	margin-top: 256px;
	margin-bottom: 64px;
	&-copy {
		margin-bottom: 35px;
	}
	.scrollUp{
		padding: 13px 22px;
	}
	&-copyright {
		margin-top: 77px;
		padding-bottom: 50px;
	}
	.peace{
		padding: 13px 22px;
		color: $color-light-gray;
		float: left;
		line-height: 30px;
	}
	a {
		margin-right: 10px;
		color: $color-light-gray;
		line-height: 30px;
		padding: 14px 20px;
		transition: all $default-transition;
		cursor: pointer;
		&:hover {
			color: $color-black;
			border-color: $color-black;
			}
	}
}