.footer {
	margin-top: 256px;
	margin-bottom: 64px;
	&-copy {
		margin-bottom: 35px;
	}
	.scrollUp{
		padding: 13px 22px;
	}
	&-copyright {
		margin-top: 77px;
		padding-bottom: 50px;
	}
	.peace{
		padding: 13px 22px;
		float: left;
	}
	a {
		margin-right: 10px;
	}
}