.header {
	padding: 40px 0;
	font-family: "Sneak Medium", "Helvetica", "Arial", sans-serif;
	opacity: 0;
	display: flex;
	transition: opacity $default-transition;
	&-visible {
		opacity: 1;
	}
	.connect{
		display: flex;
		justify-content: flex-end;
	}
	.button{
		margin-left: 10px;
	}
	a{
	line-height: 30px;
	padding: 10px 21px;
	transition: all 250ms ease;
	cursor: pointer;
	display: inline-flex;
	}
	.name {
		    font-family: "Sneak Medium", "Helvetica", "Arial", sans-serif;
		white-space: nowrap;
		width: inherit;
		display: block;
		color: $color-black;
		padding-left: 0;
		padding-top: 10px;
	}
	&-flex {
		.count {
			padding-top: 14px;
			font-family: $font-heading-regular !important;
			font-feature-settings: "zero", "tnum", "ss05";
			font-weight: normal;
			white-space: nowrap;
			width: inherit;
			display: block;
		}
		a {
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
		.close-icon{
			height: 14px;
			width: 14px;
			display: inline-block;
			flex-shrink: 0;
		}
		&:hover {
			fill: #ffffff;
		}
		&-close {
			top: 42px;
			padding: 10px 18px;
			align-items: center;
			cursor: pointer;
			z-index: 999;
			position: fixed;
			transition: all ease-in-out .1s;
			appearance: none;
			-moz-box-align: center;
			-moz-box-pack: center;
			justify-content: center;
		}
	}
	.mobile-hide{
		@include screen-sm-max {
			display: none;
		}
	}
}

