.header {
	padding: 53px 0;
	opacity: 0;
	transition: opacity $default-transition;
	&-visible {
		opacity: 1;
	}
	&-flex {
		display: flex;
		justify-content: space-between;
		position: relative;
		.name {
			font-size: 18px;
			margin-right: 150px;
			white-space: nowrap;
			width: inherit;
			display: block;
			color: $color-black;
			font-family: $font-heading-medium;
		}
		.count {
			font-family: $font-heading-regular !important;
			font-feature-settings: "zero", "tnum", "ss05";
			font-weight: normal;
		}
		a {
			width: 100%;
			display: flex;
			justify-content: flex-end;
		}
		&-close {
			height: 38px;
			width: 38px;
			cursor: pointer;
			z-index: 999;
			position: fixed;
			
		}
	}
}

