.header {
	padding: 40px 0;
	font-family: "Sneak Medium", "Helvetica", "Arial", sans-serif;
	opacity: 0;
	transition: opacity $default-transition;
	&-visible {
		opacity: 1;
	}
	.link{
	margin-right: 40px;
	transition: all 250ms ease;
	cursor: pointer;
	}
	&-flex {
		display: flex;
		align-items: center;
		.name{
			justify-content: flex-start;
			margin: 0;
		}
		.count {
			font-weight: normal;
			white-space: nowrap;
			width: inherit;
			display: block;
		}
		a {
			justify-content: flex-end;
		}
		.close-icon{
			height: 14px;
			margin: 0;
			width: 14px;
			stroke-width: 2px;
			display: inline-block;
			flex-shrink: 0;
		}
		&-close {
			stroke: black;
			padding: 10px 12px 9px 12px;
			margin: 0;
			line-height: 1;
			align-items: center;
			cursor: pointer;
			z-index: 999;
			position: fixed;
			transition: all ease-in-out .1s;
			appearance: none;
			-moz-box-align: center;
			-moz-box-pack: center;
			justify-content: center;
			span{
				font-size:13px;
				line-height: 1;
				position: absolute;
				left: -36px;
				top: 12px;
				opacity: 0;
				color: $color-light-gray;
				transition: all ease-in-out .1s;
			}
			&:hover{
				stroke: white;
				span {	
					opacity: 1;
				}
			}
		}
		&-end{
			justify-content: end;
		}
	}
	.mobile-hide{
		@include screen-sm-max {
			display: none;
		}
	}
}

