.navigation {
	margin-top: 54px;
	margin-bottom: 136px;
	opacity: 0;
	transition: opacity $default-transition, transform $default-transition;
	&-visible {
		transform: none;
		opacity: 1;
	}
	&-home {
		opacity: 0;
		transform: translateY(50px);
		
		transition-delay: .2s;
		&-visible {
			transform: none;
			opacity: 1;
		}
	}
	@include screen-lg-max {
		margin-bottom: 93px;
	}
	a h4{
		display: inline-block;
		line-height: 150%;
		color: $color-black;
		@include screen-md-max {
			display: block;
			margin-bottom: 50px;
		}
	}
	.button {
		margin-right: 10px;
	}
}