.button {
	color: $color-gray;
	font-size: 21px;
	line-height: 30px;
	border: 1px solid #979797;
	border-radius: 82px;
	padding: 14px 20px;

	&--invert {
		border-color:$color-white;
		color: $color-white;
	}
}