
$font-heading-regular: "Favorit", "Helvetica", "Arial", sans-serif;
$font-heading-light: "Favorit Light", "Helvetica", "Arial", sans-serif;
$font-heading-lining: "Favorit Lining", "Helvetica", "Arial", sans-serif;
$font-heading-alt: 'Suisse Works', "Times New Roman", Times, serif;

$font-mono: "Space Mono", "Courier New", monospace;
$font-base: 'Suisse Works', "Times New Roman", Times, serif;
$font-base-intl: 'Suisse Intl', Helvetica, Arial, sans-serif;
$font-base-condensed: "Suisse Intl Condensed", Helvetica, Arial, sans-serif;

$font-size-base: 21px;
$line-height-base: 30px;

html, body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $color-black
}

a {
	text-decoration: none;
	transition: all $default-transition;

	&::before, &::after {
		transition: all $default-transition;
	}
}
p {
	margin-bottom: 20px;
}

h1 {
	font-size: 54px;
	line-height: 58px;
	letter-spacing: -1.74845px;
	font-family: $font-heading-regular;
	font-weight: normal;
	@include screen-md-max {
		font-size: 40px;
		line-height: 44px;
	}
}

h2 {
	font-size: 36px;
	line-height: 32px;
	font-weight: normal;
	font-family: $font-heading-regular;
}

h3 {
	font-size: 32px;
	line-height: 32px;
	font-family: $font-heading-regular;
}

h4 {
	font-size: 21px;
	line-height: 30px;
	font-weight: normal;
}

h5 {
	font-size: 18px;
	line-height: 21px;
	font-weight: normal;
}

strong {
	font-weight: bold;
}