footer{
    @include row();
    padding: 3% 0;      
    background-color: $light-gray;

    & > div{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
      
    }


    .logo{
    display: inline-block;
    width: 3em;
    height: 3em;
    fill: #D5D5D5;
    align-self: flex-start;

    }


    ul {
        float: right;
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            margin-right: 2em;
            margin-bottom: 0;
            text-transform: capitalize;
            display: inline-block;
            list-style-type: none;

            &:hover {
            }
        }
    }   
}