footer{
    background-color: $light-gray;
        @include row();

    ul {
        list-style-type: none;
        float: left;
        margin: 0;
        padding: 0;
        }

    li {
        margin-right: 2em;

        margin-bottom: 0;
        text-transform: capitalize;
        display: inline;
        list-style-type: none;

        &:hover {
            border-bottom: 1px solid $reddish;
            padding-bottom: .25em;
        }
    }    
}