.logo, .exit {
    width: 102px;
    height: 102px;
    display: inline-block;
    float: left;
    float: none;
    z-index: 100;
    fill: currentColor;
}

.exit {
    width: 65px;
    float: left;
    display: inline-block;

    .st0 {
        stroke-width: 4;
        stroke: currentColor;
        fill: currentColor;
    }
}


#project, #about {
    .logo {
        width: 52px;
        height: 52px;
    }

    nav {
        padding: 2% 0;
        width: 100%;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    }
}

.menu {
    height: 50px;
    width: auto;
    display: inline-block;
    padding-left: 2em;

    img {
        width: 100%;
    }
}

footer .wrapper--project, nav .wrapper--project{
    display: flex;
    justify-content: space-between;
}

ul.primary-nav {
display: inline;
    li {
        display: inline-block;
        vertical-align: middle;

        /* Removes the extra white space below the baseline */

        h6 {
            margin: 0;
            padding: 0;
        }

        a {
            color: $base-font-color;
        }

        margin: 0 0 0 1.5em;
        float: right;
        padding: 0;
        text-transform: capitalize;
        display: inline-block;
        list-style-type: none;

        &:hover {}
    }
}