.logo, .exit {
    width: 80px;
    vertical-align: center;
    display: inline-block;
    fill: currentColor;
    float: none;
}

.exit {
    width: 65px;
    float: left;
    display: inline-block;

    .st0 {
        stroke-width: 4;
        stroke: currentColor;
        fill: currentColor;
    }
}


#project nav .logo{
        fill: #fff;
}

nav .wrapper-work {
    display: flex;
    align-items: center;
}

nav {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @include row();
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
    margin: 3% 0;

    @include row;

    @include media($mobile) {
        @include fill-parent;

        @include row;

        position: relative;
    }
}

.menu {
    display: inline-block;
    padding: 0 0 0 2em;
    height: 2em;
}

nav {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        float: right;
    }

    li {
        float: right;
        a {
            color: $base-font-color;
            padding-bottom: .10em;
            @extend h5;
        }

        margin: 0 0 0 1.5em;
        float: right;
        padding: 0;
        text-transform: capitalize;
        display: inline-block;
        list-style-type: none;
        padding-bottom: .25em;

        &:hover {
            padding-bottom: .25em;
        }
    }
}