    .logo {
       width: 3em;
        display: inline-block;
        float: left;

        vertical-align: center;
    height: auto;

    fill: currentColor;

    }
.menu{

}


nav {
    border-bottom: 1px solid $border-color;
    z-index: 100;
    @include row();

    @include media($mobile) {
        @include fill-parent;
        @include row;
        position: relative;
    }



}

.menu{
    @extend h6;
}

nav {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        float: right;
    }

    li {
        a {
            color: $base-font-color;
            @extend h6;
        }

        margin: 0 0 0 1.5em;
        float: right;


        padding: 0;
        text-transform: capitalize;
        display: inline-block;
        list-style-type: none;
        padding-bottom: .25em;

        &:hover {
            border-bottom: 2px solid $reddish;
            padding-bottom: .25em;
        }
    }
}