/* Webfont: FoundersGrotesk-Regular */@font-face {
    font-family: 'FoundersGroteskRegular';
    src: url('FoundersGrotesk-Regular.eot'); /* IE9 Compat Modes */
    src: url('FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('FoundersGrotesk-Regular.woff') format('woff'), /* Modern Browsers */
         url('FoundersGrotesk-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('FoundersGrotesk-Regular.svg#FoundersGrotesk-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

