.project-next {
	padding: 32vh 0;
	transition: all $default-transition;
	cursor: pointer;
	&-animated {
		// padding-top:0;
	}
	.container {
		transition: all $default-transition;
	}
	&-link {
		transition: all $default-transition;
		max-height: 30px;
		padding-bottom: 116px;
		&-hide {
			opacity: 0;
			max-height: 0px;
		}
	}
	&-titleContainer {
		transition: all $default-transition;
	}

	&-title {
		letter-spacing: -0.35px;
		font-family: $font-heading-medium;
		margin-bottom: 16px;		
		transition:transform $default-transition, opacity $default-transition;

		span {
			font-family: $font-heading-regular;
		}
}


	&-description {
		font-family: $font-heading-medium;
		margin-bottom: 32px;
		line-height: 110%;
		letter-spacing: -1.76px;
	}
}