.project-next {
	padding: 80px 0 110px;
	&-link {
		margin-bottom: 176px;
	}

	&-title {
		font-size: 54px;
		line-height: 58px;
		letter-spacing: -1.74845px;
		font-family: $font-heading-medium;
		margin-bottom: 16px;
	}

	&-description {
		font-size: 54px;
		line-height: 58px;
		letter-spacing: -1.74845px;
	}
}