.project-next {
	padding: 6vh 0 300px;
	transition: all $default-transition;
	cursor: pointer;
	&-animated {
		// padding-top:0;
	}
	.container {
		transition: all $default-transition;
	}
	&-link {
		transition: all $default-transition;
		max-height: 30px;
		padding-bottom: 116px;
		&-hide {
			opacity: 0;
			max-height: 0px;
		}
	}

	&-title {
		letter-spacing: -0.35px;
		font-family: $font-heading-medium;
		margin-bottom: 16px;		
		transition:transform $default-transition, opacity $default-transition;

		span {
			font-family: $font-heading-regular;
		}
}


	&-description {

	}
}