.project-sectiontextblock {
	padding: 196px 0 48px;
	&-heading{
		font-size: 18px;
		font-family: $font-heading-medium;
		line-height: 150%;
		letter-spacing: -0.124px;
		word-spacing: -0.8px;
		margin-bottom: 10px;
	}
	&-title {

	}
	&-text {}
}