.project-title {
	padding: 128px 0 80px;

	&-title {
		font-family: $font-heading-medium;
		line-height: 110%;		
		margin-bottom: 18px;
		transform: translateY(72px);
		transition:transform $default-transition, opacity $default-transition;
		opacity:0;

		&.show {
			opacity: 1;
			transform: none;
		}
		&-visible {
			opacity: 1;
			transform: none;
			transition: none;
		}
	}

	&-description {
		font-size: 72px;
		font-family: $font-heading-light;
		line-height: 110%;
		letter-spacing: -1.74845px;
		transform:translateY(72px);
		transition:transform $default-transition, opacity $default-transition;
		opacity:0;
		transition-delay: 100ms;
		@include screen-xl-max {
			font-size: 56px;
		}
		@include screen-lg-max {
			font-size: 44px;
			letter-spacing: -1px;
			line-height: 125%;
		}	
		&.show {
			opacity: 1;
			transform: none;
		}
		&-visible {
			opacity: 1;
			transform: none;
			transition: none;
		}
	}
}