.project-title {
	padding: 128px 0 80px;

	&-title {
		letter-spacing: -0.35px;
		font-family: $font-heading-medium;
		margin-bottom: 16px;		
		transform: translateY(72px);
		transition:transform $default-transition, opacity $default-transition;
		opacity:0;

		&.show {
			opacity: 1;
			transform: none;
		}
		&-visible {
			opacity: 1;
			transform: none;
			transition: none;
		}
	}
	&-description {
		font-family: $font-heading-medium;
		margin-bottom: 32px;
		line-height: 110%;
		letter-spacing: -1.76px;
		transform:translateY(72px);
		transition:transform $default-transition, opacity $default-transition;
		opacity:0;
		transition-delay: 100ms;
		&.show {
			opacity: 1;
			transform: none;
		}
		&-visible {
			opacity: 1;
			transform: none;
			transition: none;
		}
	}
	&-intro {
		--minFontSize: 21px;
		--maxFontSize: 28px;
		--scaler: 1vw;
		line-height: 150%;
		font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
		letter-spacing: -0.35px;
		font-family: $font-heading-regular;
		margin-bottom: 16px;		
		transform: translateY(72px);
		transition:transform $default-transition, opacity $default-transition;
		opacity:1;

		&.show {
			opacity: 1;
			transform: none;
		}
		&-visible {
			opacity: 1;
			transform: none;
			transition: none;
		}
	}
}